header {
  display: flexbox;
  background-color: greenyellow;
}

#welcome,
#quiz,
#inputScore,
#highScores {
  width: 70%;
}

#quiz,
#inputScore,
#highScores {
  display: none;
}

body,
.jumbotron {
  background-color: rgba(173, 255, 47, 0.5);
}
